.container-fluid {
    margin-top: 20px;
  }
  
  .col-md-9 {
    margin-bottom: 20px;
  }
  
  h2 {
    margin-bottom: 10px;
  }
  
  .input-container {
    margin-bottom: 10px;
  }
  
  .input-container input {
    margin-right: 10px;
  }
  
  .search-button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
  }
  

.transac
{
  background-image: url(https://images.pexels.com/photos/5849559/pexels-photo-5849559.jpeg?auto=compress&cs=tinysrgb&w=600);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: auto;
  font-weight: bold;
  color:indigo;
}
.transaction-container {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: burlywood;
}

.transaction-container label {
  display: block;
  margin-bottom: 10px;
}

.transaction-container input[type="text"],
.transaction-container input[type="number"],
.transaction-container input[type="password"] {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.transaction-container button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.transaction-container button:hover {
  background-color: #0056b3;
}

.toast {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  margin-top: 20px;

  display: none;
}

.toast.show {
  display: block;
}
.transaction-container {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
}

.transaction-container h3 {
  margin-top: 0;
}

.transaction-container p {
  margin: 5px 0;
}
